* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.page {
    max-width: 80%;
    margin: auto auto;
}

.top-img-text-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.blue-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    color: blue;    
    justify-content: space-between;
    align-items: center;
}

.blue-container p {
        color: blue;
}

.blue-container .text-container {
    flex-direction: column;
    justify-content: space-between;
}

.reasons-to-join {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reasons-to-join .isometric-and-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners .partners-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}